.tictactoe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: #1e1e1e;
    color: white;
    padding: 0;
}

.cell.win {
    background: #2ecc71;
    color: black;
}

.score {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}

.status {
    font-size: 1.1rem;
    padding-bottom: 1em;
}

.reset {
    padding: 10px 20px;
    margin-top: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}