#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.card {
  background: #1e1e1e;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-title {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.gridHome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 400px) {
  .card img {
    height: 120px;
  }

  .title {
    font-size: 2rem;
  }
}