.pong-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.field {
    position: relative;
    width: 600px;
    height: 400px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
}


@media (max-width: 812px) {
    .field {
        width: 30em;
        height: 20em;
    }

    .paddle {
        width: 5em;
        height: 50em;
    }
}

.paddle {
    position: absolute;
    width: 10px;
    height: 100px;
    background: white;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.ball {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    left: 294px;
    top: 194px;
}